<div class="container-form">
    <h2 *ngIf="userService.selectedUser.id === ''">Sign Up</h2>
    <h2 *ngIf="userService.selectedUser.id !== ''">Update User</h2>

		<form [formGroup]="registrationForm">
			<div class="form-group">
				<label>First Name*</label>
				<input class="form-control" formControlName="firstName" type="text" [(ngModel)]="userService.selectedUser.data['firstName']"/>
			</div>
			<div class="error-messages" *ngIf="!registrationForm.controls.firstName.valid && registrationForm.controls.firstName.touched">
        <ng-container>First Name is required</ng-container>
			</div>

			<div class="form-group">
				<label>Last Name</label>
				<input class="form-control" formControlName="lastName" type="text" [(ngModel)]="userService.selectedUser.data['lastName']"/>
			</div>

			<div class="form-group">
				<label>Email Id*</label>
				<input class="form-control" formControlName="email" type="text" [(ngModel)]="userService.selectedUser.data['email']"/>
			</div>
			<div class="error-messages" *ngIf="!registrationForm.controls.email.valid  && registrationForm.controls.email.touched">
        <ng-container *ngIf="registrationForm.controls.email.errors.required">Email is required</ng-container>
        <ng-container *ngIf="registrationForm.controls.email.errors.pattern">InValid Email</ng-container>
			</div>

			<div class="form-group">
				<label>Password*</label>
				<input class="form-control" formControlName="password" type="password" [(ngModel)]="userService.selectedUser.data['password']"/>
			</div>
			<div class="error-messages"  *ngIf="!registrationForm.controls.password.valid  && registrationForm.controls.password.touched && registrationForm.controls.password.value.length < 6">
        <ng-container>Password Required (min Length > 5)</ng-container>
			</div>

			<div class="form-group">
				<label>Confirm Password*</label>
				<input class="form-control" formControlName="confirmPassword" type="password" (keyup)="onKeyUp($event)" [(ngModel)]="userService.selectedUser.data['confirmPassword']"/>
			</div>
			<div class="error-messages" *ngIf="confirmPasswordNotMatched">
        <ng-container >Password not matched</ng-container>
			</div>
      <button class="form-control btn btn-primary" *ngIf="!userService.selectedUser.id" [disabled]="!registrationForm.valid" (click)="registrationClicked()">Register</button>
      <button class="form-control btn btn-primary" *ngIf="userService.selectedUser.id" [disabled]="!registrationForm.valid" (click)="registrationClicked()">Update</button>
		</form>
</div>
