<mat-toolbar color="primary">
  <span>Welcome! {{userName}}</span>&nbsp;
  <div class="logout-button" *ngIf="userService.selectedUser.id !== ''" (click)="logoutClicked()"> Logout</div>
</mat-toolbar>
<h3>Users Details</h3>
<table>
  <tr>
    <th>Email</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let user of usersList">
    <td>{{user.data.email}}</td>
    <td>{{user.data.firstName}}</td>
    <td>{{user.data.lastName}}</td>
    <td><mat-icon [svgIcon]="'edit'" (click)="editIconClicked(user)"></mat-icon></td>
    <td><mat-icon [svgIcon]="'delete'" (click)="deleteIconClicked(user)"></mat-icon></td>
  </tr>
</table>
