table, th, td {
  border: 1px solid black;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 1250px;
  margin: 20px;
}
.logout-button{
  cursor: pointer;
  background-color: black;
  padding: 15px;
}
h3 {
  margin: 10px;
  padding: 10px;
}
.error-messages {
  color: red;
}
