.login-form {
    max-width: 325px;
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    border: 1px solid #BFBFBF;
    background-color: white;
    padding: 50px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
